[2016-07-10 18:14] i3p9 opened #1 "[Closed] Whole series sub downloading not working properly"
So the cmd window closes after showing **Writing Links to the File...** for a split of second.

Tried both the script and the binary for windows.

Can you please help?

Also a suggestion: Can you add like SxxExx when writing the .srt files? Thanks!

[2016-07-11 09:55] Xonshiz commented on #1
Could you please run the script in CMD rather than executing the script directly? Please post all the text that shows in the command windows here so I can see. And also post the URL you're trying to download from.

And for the naming, I'll look into it. I can't promise anything currently though.

[2016-07-12 21:19] miniluigi008 opened #2 "File name too long when saving SRT"
![screen shot 2016-07-12 at 5 16 53 pm](https://cloud.githubusercontent.com/assets/5730541/16783956/835ad41e-4854-11e6-95fb-3cb699b17225.png)

It's just a minor inconvenience-- it still outputs the link to download the .vtt, but I have a hunch that this isn't the intended behavior. A fix would be appreciated! I can provide additional information if necessary.

[2016-07-15 12:58] Xonshiz commented on #2
From next time. please post the link to the video/show/movie along with it's name. I'll look into this one. The URL is : http://www.hulu.com/watch/530926 , correct?

And what are you using? The windows "EXE" version or the "Python" version?

Because on "Python" version, I cannot replicate the problem. It's downloading the srt without a file name though. which is also not the intended behaviour.

[2016-07-15 14:14] Xonshiz commented on #2
Issue fixed and both the scripts have been updated. Let me know if the issue still persists, I'll open this issue again.

[2016-07-15 14:14] #2 closed

[2016-08-31 05:10] minkxlyons opened #3 "Can't download any subtitles."
Hi, I've just downloaded latest version of [Hulu Subs Downloader Windows Binary](https://github.com/Xonshiz/Hulu-Subs-Downloader/blob/master/Hulu%20Subs%20Downloader%20-%20Windows%20Binary.rar.rar?raw=true) and I also have followed [your Youtube tutorial](https://www.youtube.com/watch?v=Ymrh99SUpUQ&feature=youtu.be) but I can't download anything. I have tried this [link](http://www.hulu.com/watch/

[2016-09-06 04:14] Xonshiz commented on #3
Hey,
Ah, thanks for notifying. I have updated the whole repository to fix the issue and reflect the changes. However, note that the "Batch Subs Downloading" won't work, because Hulu won't let logged out users to access the "Links" to single episodes. This caused the batch subs ripper to be shut down.
This will definitely take a shit load amount of time to fix. I'll have to figure out a workaround

[2016-09-06 04:14] #3 closed

[2016-09-06 04:15] #1 closed

[2016-09-11 18:57] a111777 opened #4 "[Updated] The download link is not work"
when i click in, it show Page not found. Please fix the link Thank you so much

[2016-09-16 05:56] Xonshiz commented on #4
Fixed.

[2016-09-16 05:57] #4 closed

[2016-11-04 21:11] aaaxx opened #5 "[ENHANCEMENT] Keep the original subtitle file"
It would be useful to also save the original file grabbed from Hulu, alongside the converted SRT files. They seem to use VTT at the moment, but regardless of the format now or in the future it would be best to always keep the raw file because it will contain all the original information that could be potentially lost when converting to other formats.

For example, there are some advanced positioni

[2016-11-05 06:29] Xonshiz commented on #5
Currently VTT isn't supported by most (if not all) video players. That was the reason I did not keep it. Plus, Hulu doesn't really use any `advance positioning and formatting option`.

90-95% people don't even know how to get VTT working as well. So, to save everyone's time, VTT will be deprecated for the time being.

[2016-12-30 14:13] syncretic opened #6 "Series downloader doesn't work if episodes have "/" in the title."
Enter The URL of Series or an Episode :  http://www.hulu.com/doc-mcstuffins
Will Be Downloading The Subs For Whole Series ...

Writing Links to the File...

http://www.hulu.com/watch/936034

Top Lamb / Molly Molly Mouthful - Doc McStuffins  at Hulu</title>
Downloading Subs From :  http://assets.huluim.com/captions_webvtt/21/60718021_US_en_en.vtt
[Error 3] The system cannot find the path specified:

[2017-01-02 02:53] #6 closed

[2017-01-02 02:56] Xonshiz commented on #5
VTT support has been added in the script.

[2017-01-02 02:56] #5 closed

[2017-03-15 11:13] gavbn opened #7 "error opening the win 32 application"
Hi,when I try to open the application I get an error saying that
HuluSubsDownloader.exe entry point not found
the procedure entry point ucrtbase.terminate could not be located in the dynamic link library api-ms-win-crt-runtime-l1-1-0.dll.

I am using the 32 bit windows

[2017-03-15 12:58] Xonshiz commented on #7
A quick google search tells me that it's related to OS.
Please first try these two links and then let me know if it fixed the problem or not :

1.) [YouTube Tutorial](https://www.youtube.com/watch?v=5554vP3IZxo)

2.) [MicroSoft Thread](https://answers.microsoft.com/en-us/windows/forum/windows_7-performance/the-procedure-entry-point-ucrtbaseterminate-could/e45c2162-bb43-4082-a3dd-d715c7ea1f46)

[2017-03-15 13:37] gavbn commented on #7
thanks for the quick reply but I am still getting an error from the cmd and here is the error:
C:\Users\User\Downloads>hulus
Enter a URL : http://www.hulu.com/watch/1045926
Which format do you want : srt
Traceback (most recent call last):
  File "site-packages\requests\packages\urllib3\connectionpool.py", line 594, in
 urlopen
  File "site-packages\requests\packages\urllib3\connectionpool.py", lin

[2017-03-15 13:42] Xonshiz commented on #7
Thanks for the detailed output. I'll look into this issue :)

[2017-03-15 13:49] gavbn commented on #7
In the meantime,if you don't mind could tell me any other means of downloading subtitles from hulu

[2017-03-15 13:49] Xonshiz commented on #7
umm try the python file?

[2017-03-15 13:52] gavbn commented on #7
I am sorry for asking this question but how to run the python file on windows

[2017-03-15 14:08] Xonshiz commented on #7
Leave it, I'll try to fix this by tomorrow ...

[2017-03-15 14:15] gavbn commented on #7
ok,thanks for the support and I hope you fix this issue asap

[2017-03-25 17:40] Xonshiz commented on #7
Pushed an update for this. Windows Binary is working now and the subs are downloading just fine, so I'm closing this. If you still have problem, let me know, I'll re-open.

[2017-03-25 17:40] #7 closed

[2017-08-19 02:01] SlamPig opened #8 "batch wont download the season only single episodes."
i have done everything and it still will only download single episodes

[2017-08-21 01:42] Xonshiz commented on #8
Please check the "Read Me". It clearly mentions this issue
"Note : Hulu won't let logged out users to access the "Links" to single episodes. This caused the batch subs ripper to be shut down. This will definitely take a shit load amount of time to fix. I'll have to figure out a workaround for this."

[2017-08-21 01:42] #8 closed

[2017-08-24 18:24] taitaigip opened #9 "AttributeError: 'NoneType' object has no attribute 'group'"
This was working yesterday, but not today :(

Perhaps Hulu changed their schema.

[code]

[2017-08-31 10:28] Xonshiz commented on #9
Maybe they did. I'll take a look at this in a day or two.

[2017-11-04 14:21] eyalaa commented on #9
Problem with AttributeError: 'NoneType' object has no attribute 'group'``` is persistant.
Anything new on this, or workaround?

Thanks!

[2017-12-21 03:10] Xonshiz commented on #9
Hey. Just got time to look around and seems like Hulu now needs you to sign in and be in USA to even give out the subtitle ID. Unfortunately, I neither have the account and nor I am in USA.
Well, USA thing can be bypassed, but no credentials will pose a problem.

[2017-12-29 03:05] Xonshiz commented on #9
Okay, my previous conclusion about "Signing In" and "USA" proxy for single episodes was wrong and I have successfully fixed the script. Get the fresh Python code and Fresh windows binary from the respective sections.

[2017-12-29 03:05] #9 closed

[2018-04-02 13:42] JadeErin opened #11 "text.encode("utf-8") Instead of str()"
I don't really know python. But I found that some episodes errored out because of character encoding problems. I was able to get them to work by changing str() to text.encode("utf-8") on line 52`data_json = json.loads((page_source.find_all('script', {'type': 'application/ld+json'})[0].text).encode('utf-8'))`

and line 72: `sub_file.write(smi_source.encode('utf-8'))`

[2018-04-03 10:21] JadeErin opened #12 "SRT is causing too many new lines"
When converting to SRT format there are a lot of incorrect newlines being generated.

[2018-04-04 01:58] Xonshiz commented on #12
could you share the srt and the vtt of that show?

[2018-04-04 01:59] Xonshiz commented on #11
Thanks. Will check. Could you please also share a link to any such show/movie etc.?

[2018-04-04 02:54] JadeErin commented on #11
https://www.hulu.com/watch/85098

[2018-04-04 02:59] JadeErin commented on #12
https://www.hulu.com/watch/85090

You'll notice that the subtitle# and time codes are OK. But there seems the be an extra blank line preceding each subtitle line.

Also notice that in the VTT where a period ends a line it is often changed to a comma in the SRT version.

[2018-04-08 01:22] seasalts opened #13 "attribute error/failure to execute?"
![](https://i.gyazo.com/29bf2ee979ad69974886e19be76c88aa.png)

is there something i'm doing wrong?

edit: i've realized that the title of the show has a special character, FullMetal Alchemist: Brotherhood, I'm able to rip subs from other shows fine!

[2018-04-10 12:07] Xonshiz commented on #13
I'll look into this.

[2018-04-12 18:59] Toonerz opened #14 "Cannot Download Subtitles For Sonic X Japan Subbed Episode 71"
So I was downloading all of the English Subtitles for the Japan Dub of Sonic X, when I ran into this error: [https://cdn.discordapp.com/attachments/310416600635408384/434064460462686212/Error.PNG](url)

The Episode can be found here: https://www.hulu.com/watch/251398#i1,p68,d0

Is there any way to fix this?

[2018-05-05 18:51] cangyuyao commented on #11
Thanks for this issue. Finally get it worked...

[2018-06-24 06:40] clikkiepedia opened #15 "Some noob problems"
![firmx10vpxo](https://user-images.githubusercontent.com/40534660/41816616-3a2e5754-77a3-11e8-85ad-bab4ff49a9a8.jpg)
![m8ztksnxrjy](https://user-images.githubusercontent.com/40534660/41816617-3a6b6022-77a3-11e8-9e5f-413ce09d5d8f.jpg)
Hi! Idk why but the app just won't work it gives the error and shuts down immediately
Help please(

[2018-10-18 07:17] gavbn opened #17 "Not working"
Hi,I am not able to rip subtitles from hulu as they changed their entrie web interface and your program doesn't even recognise the url of the show,could you please update the program?

[2019-05-25 17:12] arbarbosa1979 opened #18 "Hulu Changed the System and software not working!"
About seven months ago, it still works, but just few days ago, I logged on Hulu again and found that things kinda changed on Hulu and the software don't work anymore, can't download the subs anymore:

[code]

[2019-05-25 18:02] Xonshiz commented on #18
Yes, it's a known issue. I do have a way of getting the subs, but I don't really have a time to update this script. Maybe I'll take a look at it later on. I tried putting the working into this script, it didn't work.

[2019-06-04 16:50] adrianlm1 commented on #18
Any help on fixing this would be very much appreciated! (Y)

[2019-06-04 17:10] Xonshiz commented on #18
Yeah, I found a way of getting that working. But, there was some issue with the cookies. I mean, there was some issue with the library that was handling the cookies and session. Will be able to take a look at it again later on. Not now.

[2019-06-04 17:11] Xonshiz commented on #17
Same as #18 . Closing This.

[2019-06-04 17:11] #17 closed

[2019-06-04 17:11] Xonshiz commented on #15
Please follow #18 . More or less related.

[2019-06-04 17:11] #15 closed

[2019-06-04 17:12] Xonshiz commented on #13
Similar to #18 .

[2019-06-04 17:12] #13 closed

[2019-07-26 19:30] 323Wicked commented on #18
@Xonshiz Any chance of adding a way to also download video in the future?

[2019-07-29 19:27] madnesofjuice commented on #18
Will you make this working again @Xonshiz ?

[2019-08-31 03:36] DubbyParrot commented on #18
Any updates on this? Would be greatly appreciated. @Xonshiz

[2020-08-06 01:26] Somoud opened #19 "does not work on win10"
does not work on win10

[2020-11-05 09:26] FluffyDev2019 commented on #18
Any updates on this issue and maby a new working windows exe to dl? 😀

[2020-11-05 09:28] Xonshiz commented on #18
CI build seems to be failing. I'll take a look over the weekend and then around Sunday, I'll try to drop a working exe.

[2020-11-20 07:05] theepicj19 commented on #18
Hi there Xonshiz. After I enter the URL and it asks for SRT or VTT, no matter what I put in the whole thing will crash right after. Do you know about this bug? It says:

Enter a URL for hulu.com : https://www.hulu.com/watch/07fdd238-6c96-49e5-820a-1f7496005291
Which format do you want? (SRT or VTT) : SRT

Traceback (most recent call last):
  File "HuluSubsDownloader.py", line 127, in <module>
  Fi

[2020-11-25 15:05] clayton-grey commented on #18
It took me an embarrassingly long time to debug this, but the current version of BeautifulSoup doesn't accept javascript strings as "text", so:

` data_json = json.loads(str(page_source.find_all('script', {'type': 'application/json'})[0].text))`

needs to be

` data_json = json.loads(str(page_source.find_all('script', {'type': 'application/json'})[0].string))`

if you are getting an error on that

[2020-12-25 17:35] bond485 commented on #18
hi clayton-grey. i tried it,but still error
File HuluSubsDownloader.py", line 149, in <module>
    SubDownloader = HuluSubs(url=main_url, subtitle_type=sub_type)
  File HuluSubsDownloader.py", line 22, in __init__
    self.single_episode(self.url)
  File HuluSubsDownloader.py", line 63, in single_episode
    collection = [t for t in components if t["type"] == "collection_tabs"][0]["tabs"]
IndexErr

[2020-12-26 06:41] Xonshiz commented on #18
I'm not sure what's happening. I would need a Hulu login to see how things are working out. I'm trying for a free account, but, since Hulu isn't in my country and I don't really want to link my card with it, let's see how it goes.

[2020-12-26 09:14] Xonshiz commented on #19
Closing this one because of lack of information.

[2020-12-26 09:14] #19 closed

[2020-12-26 23:33] bond485 commented on #18
i can give you a hulu account for test,if you have time. can you receive email on xonshiz@gmail.com? i can send account to you

[2020-12-27 04:35] Xonshiz commented on #18
Yep, that would be great. You can send the credentials on that one. Thanks a lot @bond485 ! :)

[2020-12-27 04:49] bond485 commented on #18
i have send it to you, thanks a lot

[2020-12-29 07:33] clayton-grey commented on #18
I cannot debug for you, but that looks like the error I was getting. It has been a while, so I do not remember it perfectly, but the issue is that the data cannot be fetched because BeautifulSoup is attempting to scrape the javascript code which contains the correct URL codes's for fetching the subtitle data for the given show URL - the whole reason this script is needed is because Hulu made it ob

[2021-01-06 16:26] #11 closed

[2021-01-06 16:35] Xonshiz commented on #12
I've pushed a new version for the tool and I've verified that this URL is working now.
P.S: Note that the URL you've posted here is old and HULU Doesn't use these IDs now. So, when you visit this link, Hulu will give you a new url. Use that URL.
Be sure to remove `?content_id=85090` from URL and it'll work.

[2021-01-06 16:35] #12 closed

[2021-01-06 16:35] Xonshiz commented on #14
I've pushed a new version for the tool and I've verified that this URL is working now.
P.S: Note that the URL you've posted here is old and HULU Doesn't use these IDs now. So, when you visit this link, Hulu will give you a new url. Use that URL.
Be sure to remove `?content_id=251398` from URL and it'll work.

[2021-01-06 16:35] #14 closed

[2021-01-06 16:36] Xonshiz commented on #11
I've pushed a new version for the tool and I've verified that this URL is working now.
P.S: Note that the URL you've posted here is old and HULU Doesn't use these IDs now. So, when you visit this link, Hulu will give you a new url. Use that URL.
Be sure to remove `?content_id=85098` from URL and it'll work.

[2021-01-06 16:37] Xonshiz commented on #18
I've finally pushed an update to this tool. Do go through the new updated documentation because a lot of things have been changed and new features (proxy support, cli arguments etc.) have been added.

If anyone finds or gets a new bug, please feel free to open a new Issue.

[2021-01-06 16:38] #18 closed

[2021-01-08 08:52] jdelgado111 opened #22 "Issue with special character"
![issue](https://user-images.githubusercontent.com/31085648/103994042-4fe90380-514b-11eb-9d2c-e688ae6bbf62.JPG)

On Windows 10, it looks like there's an issue when trying to download subtitles from something that has a special character in the title. Seems to be an issue when it tries to create the folder, it adds the special character which isn't allowed. The tool worked correctly when I tried it

[2021-01-08 09:16] Xonshiz commented on #22
Oh damn, totally forgot about the special characters. Thanks for bringing this up. Could you please share the URL for the video/show as well, so that I can take a look and fix this one.

[2021-01-08 09:21] jdelgado111 commented on #22
Ah sorry I'm away from my computer now, but the URL and name of the series is in the screenshot above. Tomorrow I can add the URL here directly for convenience.

[2021-01-08 10:43] Xonshiz commented on #22
Yes, that would be better if you could just post it out here. I'll get a fix ready meanwhile.

[2021-01-08 15:16] Xonshiz commented on #22
I've pushed the update. I checked with some other video with special characters. It was downloading fine. Please do download the latest binary again and verify that it's downloading for you now :)

[2021-01-08 19:56] jdelgado111 commented on #22
Looks like it's still not working for me even with the update. I get this error in the log:

DEBUG: HuluException: [WinError 123] The filename, directory name, or volume label syntax is incorrect: 'C:\\Users\\jdm41\\Downloads\\Ghost in the Shell: Stand Alone Complex\\1'

The special character is still being included in the folder name.

Here's the episode link I'm using: https://www.hulu.com/watch

[2021-01-08 20:19] Xonshiz commented on #22
Can you run the tool with -v flag and upload the error log it generates.
Please do check and remove any credentials (if they appear in that file).

[2021-01-08 20:37] jdelgado111 commented on #22
Here's the log, not really sure if there's any credentials in this one that I should remove?

[2021-01-09 11:56] Xonshiz commented on #22
Thanks for sharing the error log. Seems like file name is still not being changed. I'll reopen this and work on this.

[2021-01-09 15:16] #22 closed

[2021-01-09 21:05] jdelgado111 commented on #22
Thanks for fixing it!

[2021-01-29 16:18] TGreatOne opened #25 "Issue 'latin-1' codec can't encode character '\u2026', when running the script"
OS: Ubuntu 20.04.1, Windows 10 Home
Version: 1.0.122 Python Script and Windows EXE
URL: https://www.hulu.com/series/freaks-and-geeks-0e7d9831-22bb-455d-8255-412be0415b2c
Description: The tool shows the following error when trying to download the subs of this series, in both English and Spanish

DEBUG: initial eab_id: geeks-0e7d9831-22bb-455d-8255-412be0415b2c
DEBUG: GET url: https://discover.hulu.

[2021-01-29 16:58] Xonshiz commented on #25
Thanks for the detailed information. Seems like a string conversion issue. I'll take a look at this over the weekend.

[2021-02-02 16:31] yousie642 commented on #25
Same issue. Posting my log, in case it helps

OS: Windows 10 Pro (2004)
Version: Windows EXE
URL: https://www.hulu.com/series/my-hero-academia-36e318dc-3daf-47fb-8219-9e3cb5cd28f2

[2021-02-11 15:09] yousie642 commented on #25
Hey @Xonshiz, just wondering if an update is coming that fixes this?

[2021-03-27 02:14] IRLPinkiePie commented on #25
@Xonshiz hi, i was running into this issue myself, and after about two hours poking through python libraries it turns out that the code works entirely fine; rather, if you try to copy and paste your cookie from firefox, it'll shorten it and add an ellipsis, and that ellipsis is the \u2026 that's throwing an error. there's not really a good way around that beyond right-click > copy all and then jus

[2021-03-27 03:08] Xonshiz commented on #25
Hey Thanks a lot for this! Damn, this is very disturbing to read. I think I'll add that in documentation and also do some kind of checking in the code to notify the user that your cookie value isn't proper. I'll leave this bug as open for now. But, will try to push an update.

Also, is this tool still working? Because I had someone telling me that Hulu changed things again. Not sure about that, wi

[2021-03-27 03:18] IRLPinkiePie commented on #25
it is as of earlier today, yeah! i can write a little fix to search for an ellipsis character before it gets pulled into requests if you'd like, though unfortunately i don't know the cookie structure super well and thus probably can't do much more complicated than that

[2021-03-27 03:23] Xonshiz commented on #25
That's fine. I'll be working on this today, so there should be a fix by tomorrow for this. Your research is very helpful, saved tons of my time :P

[2021-03-29 05:27] andthentheyran opened #26 "Japanese language support?"
In the wiki it says 'feel free to open up an issue' for suggestions so that's what I'm doing here. Any chance support for Japanese subtitle downloading would be able to be added? I see it says that at the moment Hulu only offers English and Spanish, so maybe they're only available in Hulu Japan. Does that mean that it's impossible?

Thanks!

[2021-03-29 06:54] Xonshiz commented on #26
I've not seen Japanese subtitles on Hulu. Maybe some region thing? Could you share the links to videos where they have Japanese Subtitles so I can check that.

[2021-03-29 06:56] andthentheyran commented on #26
The videos I am familiar with are all on the Japanese Hulu, so it's likely a region thing then. As an example there's https://www.hulu.jp/watch/60036232
Thank you for your rapid response!

[2021-03-29 07:01] Xonshiz commented on #26
Cool thanks for the link. I'll check these out as soon as I get some time.

[2021-05-20 04:01] clayton-grey commented on #19
I was having trouble with the executable on OSX (I recently migrated to a different computer, so the setup I had working before isn't handy anymore), so I tried the Windows version, which seemed to work more as described:

OS: Windows 10
Version: EXE

Here's the output:

[code]

[2021-05-20 04:03] clayton-grey opened #27 "Windows 10: Response Code 400"
I was having trouble with the executable on OSX (I recently migrated to a different computer, so the setup I had working before isn't handy anymore), so I tried the Windows version, which seemed to work more as described:

OS: Windows 10
Version: EXE

Here's the output:

[code]

[2021-05-28 14:30] csisoap commented on #27
Try https://www.hulu.com/series/great-north-374cdbc2-3b08-4b81-a68f-a45a70665849

[2021-05-31 03:27] ghost commented on #27
@csisoap Thank you so much, I managed to download the subtitles of the TV series "Fear the Walking Dead" by renameing the link to

https://www.hulu.com/series/walking-dead-6b075a0b-3d97-42a8-b2f1-c1d698d64d53

and used the new link and it worked (seems that the name works only if it has two words, "rick-and-morty" to work you need to rename it to "and-morty").

![12](https://user-images.githubuser

[2021-05-31 05:18] Xonshiz commented on #27
Woah, this is a weird thing that's happening. I'll add a bug tag to this and see if it's happening with all the series or just some handful of them.

[2021-05-31 05:29] ghost commented on #27
@Xonshiz The script does not work with the links of the movies like

https://www.hulu.com/movie/terminator-dark-fate-3be9a47d-4a50-447a-980a-e5cae615f522

it works only when i replace "/movie/" and the name of the movie with "/watch/".

https://www.hulu.com/watch/3be9a47d-4a50-447a-980a-e5cae615f522

and the name of the subtitle file of the movie become "No Name Found - S01E01 [en Sub].srt"

[2021-05-31 05:57] Xonshiz commented on #27
Yes, that "/watch" thing is a known "issue" or "thing" however you term it. It was me being lazy to not add one more entry of check after I had checked in a general code that worked for both. It's just an extra step haha. I'll patch it up in next fix. But, what I'm more curious about is that the script is working with just "2 words"... like that walking dead link. That needs to be looked into. I'l

[2021-05-31 06:18] ghost commented on #27
@Xonshiz It seems to be about the "-" more than the title has two words, like the TV series "Malcolm in the Middle" could work with only "-middle".

https://www.hulu.com/series/malcolm-in-the-middle-ca1ac46e-9883-4125-a6e8-97efce9a2bf5

https://www.hulu.com/series/-middle-ca1ac46e-9883-4125-a6e8-97efce9a2bf5

[2021-05-31 06:27] csisoap commented on #27
@Xonshiz i think instead of grabbing the first two, try to grab five words from the last.

[2021-05-31 06:48] Xonshiz commented on #27
See.. that's the thing... I don't remember putting any code that deletes/grabs any specific set of words. It should take all and send to HULU APIs. That's why I'll need to see what is happening, where and why.

[2021-06-02 08:08] clayton-grey commented on #27
Thanks for the response. Your link was recognized, but I ran into a new issue:

[code]

Which also doesn't produce a log, but it seems like it should work?

[2021-06-02 10:48] Essam3111 commented on #27
@clayton-grey You could download the subtitles of the TV show "The Great North" in "srt" format, or you could use this version that I modified to download the subtitles in "webvtt" format ("webvtt" and "vtt" are the same thing, Hulu uses the extension "webvtt" for the subtitles files), in the config file replace "vtt" with "webvtt".

[Hulusubs_dl.webvtt.zip](https://github.com/Xonshiz/Hulusubs_dl/

[2021-06-02 11:17] ghost commented on #27
@clayton-grey You could download the subtitles of the TV show "The Great North" in "srt" format.

[2021-06-02 12:18] Xonshiz commented on #27
That subtitle thing is another issue. Could you open a separate bug for that. Helps in checking what all things I need to fix.

Also, @Essam3111 good that you were helping, but, I'd suggest that you do not share an actual subtitle file over here. I think your comment was removed and I really don't want this repo getting nuked on some BS DMCA notice.

[2021-06-02 12:27] ghost commented on #27
@Xonshiz I deleted the comment by myself for the same reason.

[2021-06-02 12:34] Xonshiz commented on #27
Hhahah I see... good, thanks :D

[2021-06-02 18:12] ghost commented on #27
@Xonshiz Just a simple observation, when I try to download the subtitles in "ttml" format or "smi" format for any TV show, the script download only the first episode, but when I go to the folder of the downloaded subtitles no subtitles are actually downloaded and the folder is empty, Hulu subtitles in "ttml" do not work correctly with Subtitle Edit, Subtitle Edit displays the time wrongly (nothing

[2021-06-02 18:55] Xonshiz commented on #27
Ah, I see. Could you please open a new bug report for that and also mention some URLs where you can see this issue.

[2021-06-02 19:24] Essam3111 opened #28 "No subtitles are downloaded in TTML format"
When I try to download the subtitles of the TV show "Castle Rock" or "Bob's Burgers" in "ttml" format the script downloads only the first episode, but when I go to the folder of the downloaded subtitles no subtitles are actually downloaded and the folder is empty, my operating system is Windows 10, and I'm using a Windows EXE Binary.

https://www.hulu.com/series/castle-rock-b11816c9-9e35-44f3-bf04

[2021-06-02 23:49] clayton-grey commented on #27
I could, but I use VTT, so it saves me conversion steps, and it should be possible to get from their servers.

I'll open a new ticket for this.

[2021-06-02 23:53] clayton-grey opened #29 "Windows 10: Error when attempting to download subs in the vtt format."
OS: Windows 10
Version: EXE

When attempting to save vtt files, I received the following error:

[code]

The error repeated for each episode, finishing with registering an error log. Using the following URL:

`https://www.hulu.com/series/great-north-374cdbc2-3b08-4b81-a68f-a45a70665849`

[2021-06-03 00:47] ghost commented on #27
@clayton-grey This is just a workaround, until the script got fixed you could use it for downloading the subtitles in "webvtt" format, in config file add 'webvtt'.

[Hulusubs_dl.webvtt.zip](https://github.com/Xonshiz/Hulusubs_dl/files/6595015/Hulusubs_dl.webvtt.zip)

In `utils.py` and `hulu_subs_dl.py` I replaced 'vtt' with 'webvtt' (this solves the problem of the error message "Couldn't find vtt

[2021-06-03 22:49] ghost commented on #28
@Xonshiz When I replaced in `hulu.py`

`if extension == 'srt':`

with

`if not extension == 'srt':`

and in `subtitle_processing.py` I replaced

    replacement = re.sub(r'(\d\d:\d\d:\d\d).(\d\d\d) --> (\d\d:\d\d:\d\d).(\d\d\d)(?:[ \-\w]+:[\w\%\d:]+)*\n',
                         r'\1,\2 --> \3,\4\n', file_contents)
    replacement = re.sub(r'(\d\d:\d\d).(\d\d\d) --> (\d\d:\d\d).(\d\d\d)(?:[ \-\w]

[2021-06-04 04:49] Xonshiz commented on #28
Closing this, as same as #29 . Discussions will follow there.

[2021-06-04 04:49] #28 closed

[2021-06-04 04:50] Xonshiz commented on #29
Attaching #28  here for further discussion.

[2021-06-04 18:47] ghost commented on #27
@Xonshiz This might help you in figuring out a solution for the problem of the non working links for the TV shows like

https://www.hulu.com/series/fear-the-walking-dead-6b075a0b-3d97-42a8-b2f1-c1d698d64d53

and

https://www.hulu.com/series/futurama-85bf4cc1-cd8b-4469-ad87-7289217a0b74

when i compared between the "Hulusubs_dl_Error_Log" for the non working link for the TV show "Fear the walking d

[2021-06-05 00:43] ghost commented on #27
@Xonshiz I found out why the link works only if it has two words, this regular expression removes one word

https://www.hulu.com/series/castle-rock-b11816c9-9e35-44f3-bf04-220b1d12f770

https://github.com/Xonshiz/Hulusubs_dl/blob/master/hulusubs_dl/hulu.py#L86

https://regex101.com/r/48hdPs/1

and this line removes another word

https://github.com/Xonshiz/Hulusubs_dl/blob/master/hulusubs_dl/hulu.p

[2021-06-05 05:45] clayton-grey commented on #27
Nice sleuthing.

[2021-06-05 10:05] Xonshiz commented on #27
Holy crap... You've literally fixed it all. hahahaha Thank you so much @Essam3111 .

EDIT: Oh I think I just remembered why I used that regex.  Didn't see if failing this badly :(

[2021-06-05 11:54] Xonshiz commented on #29
I created a temp account but since I'm not in USA, it's not letting me make payments. I'll need to put this one on hold until I get an account to debug this issue.

[2021-06-05 12:06] Xonshiz commented on #25
Update on this one, can't work on it as of now because Hulu wouldn't let me sign up (since I'm not in US region, it's not letting me make payments). I'll see if I can get an account to work.

[2021-06-05 12:44] ghost commented on #27
@Xonshiz Thank you so much, I tested the dev branch and everything is working great until now, just one more problem still needs to be fixed, the movie subtitle file name is "No Name Found - S01E01 [en Sub]", here is the Hulusubs_dl_Error_Log for the movie

https://www.hulu.com/movie/terminator-dark-fate-3be9a47d-4a50-447a-980a-e5cae615f522

[Hulusubs_dl_Error_Log.zip](https://github.com/Xonshiz/H

[2021-06-05 12:48] Xonshiz commented on #27
Yep, the thing is, I don't have the JSON that's returned. So, what I'm guessing is that for "movie", they have a different JSON getting back and for a show video, they have different JSON getting back. Thanks for sharing the verbose dump, this should have the JSON, maybe I can work my way out of that one.

[2021-06-05 14:10] #27 closed

[2021-06-06 02:59] ghost commented on #25
To get the cookie on Firefox without `\u2026` after the searching for discover.hulu.com/content/v5/me/state right click on one of the links and stand on "Copy" then press on "Copy Request Headers" and paste the contents in a text file and remove the text from "GET" to "Connection: keep-alive".

![cookie](https://user-images.githubusercontent.com/84876906/120911250-f9460e00-c685-11eb-8f2d-4411ec42f

[2021-06-06 03:39] ghost commented on #25
@Xonshiz Please when you have the time it would be great if you could do what you wrote about the way of handling the cookies in the "To Do" list https://github.com/Xonshiz/Hulusubs_dl/blob/master/ToDo.md.

[2021-06-06 04:32] Xonshiz commented on #25
Thanks for that screenshot and info on Firefox, but I'll still need to put in a check in the code itself for this. Better to handle it on my end as well and about the cookies in TO DO list, it's not going to happen anytime soon, as I've tried many times and have gracefully failed. I'll update as soon as I can figure anything out. Let's see if I can find anything about that :(.

[2021-06-06 14:13] Xonshiz commented on #29
Should be fixed with the latest commit.

[2021-06-06 14:13] #29 closed

[2021-06-06 14:13] Xonshiz commented on #25
Should be fixed with the latest commit.

[2021-06-06 14:13] #25 closed

[2021-06-06 14:16] Xonshiz commented on #26
I tried accessing hulu.jp and it seems like they're still following older layout? Also, I couldn't log in, it's catching my location and not even letting me log in, shows 403 right off the bat.
Also, I couldn't find any video on Hulu which had Japanese subtitles. If you come around any such video, please do post the link so I can add that support.

For now I'll close this because I couldn't find a

[2021-06-06 14:16] #26 closed

[2021-06-06 16:47] ghost commented on #27
@Xonshiz Just a very minor problem with the name of the downloaded subtitle file for the movie, the number of the season added to the name of the subtitle file and a season folder created like.

C:\Hulusubs_dl\Terminator - Dark Fate\01\Terminator - Dark Fate - S01E01 [en Sub].srt

https://www.hulu.com/movie/terminator-dark-fate-3be9a47d-4a50-447a-980a-e5cae615f522

[2021-06-06 17:02] Xonshiz commented on #27
Ah, got it. Could you open a separate bug for that? It's cased via different functionality and this issue serves purpose for 400 error.

[2021-06-06 17:17] Essam3111 opened #31 "Season and episode number added to the movie subtitle"
When I try to download a movie subtitle the number of the season and episode added to the name of the subtitle file and a season folder created like.

C:\Hulusubs_dl\Terminator - Dark Fate\01\Terminator - Dark Fate - S01E01 [en Sub].srt

https://www.hulu.com/movie/terminator-dark-fate-3be9a47d-4a50-447a-980a-e5cae615f522

my operating system is Windows 10, and I'm using a Windows EXE Binary.

***S

[2021-06-07 05:17] ghost commented on #31
@Xonshiz I'm really sorry, just one thing still needed to be done, If the file is a subtitle for a movie the season folder should not be created, for the movie It should be

`                        path_created = path_util.create_paths(
                            download_location + os.sep + series_name)`

It should be

C:\Hulusubs_dl\Terminator - Dark Fate\Terminator - Dark Fate [English Sub].s

[2021-06-07 05:37] Xonshiz commented on #31
Ah crap, I should've seen this scenario. Thanks for pointing this out. I'll fix it later tonight.

Re-opening this bug.

[2021-06-07 05:45] #31 closed

[2021-06-07 05:45] Xonshiz commented on #31
Checked in a fix for this, should fix in the latest binary.

[2021-06-09 12:14] Nisekoi-1 opened #32 "Renaming Issue"
Season 02 has Dub which has cc that I want to download but can't because when I paste the link it download cc but since it also has Subtitled version and replaces with eng sub. is there a way where the filename could be change for Dub and Sub?
https://www.hulu.com/series/the-irregular-at-magic-high-school-80e76834-7c30-45fe-bcaa-1f4ace6a99da

[2021-06-09 20:41] Essam3111 commented on #32
Adding the name of the episode to the subtitle file could help in preventing the CC files from being overwritten by the subtitles, this could be done by replacing in `hulu.py`

                    video_metadata = dict(list(video_metadata)[0])
                    series_name = utils.get_clean_path_name(video_metadata.get('series_name', video_metadata.get("name", "No Name Found")))

[2021-06-09 20:52] Xonshiz commented on #32
Adding the full episode name isn't a good idea because of many reasons, 2 of which I could say right off the top of my head.
1.) There's a max character limit on naming a file and is different on all OS.
2.) Doesn't look neat.

With that being said, I'll see what I can do about this DUB and SUB naming of the files. Let's see if I can get some time on this weekend to look into this.

[2021-06-10 01:29] Tridagger commented on #32
![image](https://user-images.githubusercontent.com/9511835/121450279-03417700-c9ce-11eb-9ca8-ecd87f4ded89.png)
I want to download dub subtitles, I add these codes for filtering sub subtitles. You can set a switch.

[2021-06-13 06:53] Xonshiz commented on #32
This is one way to, but, not trustworthy. Let's say "(Sub)" comes in some title.. might not indicate that the subtitle indeed is for a SUB/DUB episode. I can write this as a temporary workaround, but, it's a bit flimsy fix.

I don't have an account, I'll see if anyone can share one and I'll see if there's a surefire way to verify the subtitles. If I don't get any account, I'll push this as a worka

[2021-07-04 14:23] #32 closed

[2021-07-04 14:24] Xonshiz commented on #32
Couldn't log into Hulu to compare the JSONs. As a workaround, this should hold for a while.

[2021-10-10 00:05] MapGuy11 opened #33 "Keep Getting "Whoops! Seems like I can't connect to website. It's showing : <Response [400]>""
I am not quite sure what you need so let me know and I will promptly respond.

[2021-10-10 01:42] Xonshiz commented on #33
Hmm, 400 means bad request. Would need to check. Could you post the full command you used?
Also, add `--verbose` to the full command and it'll generate an error log... post the contents of that file here.
Also, read the `[How to open issues](https://github.com/Xonshiz/Hulusubs_dl#opening-issues)` and add the info mentioned there.

Thanks

[2021-10-10 01:45] MapGuy11 commented on #33
1. OS (Windows)
2. OS Version (Windows 11 PRO)
3. Version (Windows EXE Binary)
4. URL (https://www.hulu.com/watch/627fb9e1-15a6-4b78-b256-bea6d524111d)
5. Whoops! Seems like I can't connect to website. It's showing : <Response [400]>
6.
[Hulusubs_dl_Error_Log.log](https://github.com/Xonshiz/Hulusubs_dl/files/7316683/Hulusubs_dl_Error_Log.log)

Config:

{'max_tries_for_cookie': '2', 'download_locat

[2021-10-10 01:47] Xonshiz commented on #33
Thanks for the info man. I'll take a look as soon as I get some time.

[2021-10-10 01:49] MapGuy11 commented on #33
Take your time.

[2021-11-19 01:23] #33 closed

[2021-12-09 19:23] WhiteWit opened #36 "Response [400]"
Hello. I am getting an error with any link to hulu. I did not understand how to run the script with --verbose. I am using Express vpn.
Help :)

OS (Windows)
OS Version (Windows 10 Home)
Version (Windows EXE Binary)
URL (any url)
Error: "Whoops! Seems like I can't connect to website.
It's showing : <Response [400]>
Run this script with the --verbose argument and report the issue along with log file

[2021-12-12 05:01] Xonshiz commented on #36
Hmm, might have to check that one out. Thanks for raising the issue, will verify.

[2021-12-31 02:27] nnyjohn commented on #36
I'm getting the same exact error. Attached is my log file with running -v in CMD
[Hulusubs_dl_Error_Log.log](https://github.com/Xonshiz/Hulusubs_dl/files/7795161/Hulusubs_dl_Error_Log.log)
.

[2022-01-22 22:34] uberninja commented on #36
Same error here, it also seems like the hulu subtitle tampermonkey script no longer works. Perhaps hulu has changed something around.